# Environments & Secrets
.env
.venv/
env/
venv/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
__pycache__/
*.pyc

# Databases
*.db
portfolio.db

# Build and Vercel files
build/
dist/
.vercel/
.next/

# OS files
.DS_Store
Thumbs.db